<h2>Log In</h2>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
  <%= label_tag :login_type, "Student or Teacher?" %>
    <div class="field"> 
    <%= select_tag "login_type", options_for_select(["Teacher", "Student"], "Pick One") %>
    </div>
  <%= label_tag :email %>
    <div class="field">
    <%= text_field_tag :email, params[:email] %>
    </div>
  <%= label_tag :password %>
    <div class="field">
    <%= password_field_tag :password %>
    </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>