<h2>Register Teacher</h2>
<%= form_for @teacher do |f| %>
  <% if @teacher.errors.any? %>
    <div class="error_messages">
      <h4>Form is invalid</h4>
        <% for message in @teacher.errors.full_messages %>
          <h4><%= message %></h4>
        <% end %>
    </div>
  <% end %>
  <%= f.label :instrument %>
   <div class="field">
    <%= f.collection_select :instrument, Teacher::INSTRUMENTS, :to_s, :to_s, include_blank: false %>
    </div>

  <%= f.label :name %>
    <div class="field">
    <%= f.text_field :name %>
    </div>
  <%= f.label :phone %>
    <div class="field">
    <%= f.text_field :phone %>
    </div>

  <div class="break"><h4>- Address -</h4></div>

  <%= f.label :address, "Address 1" %>
    <div class="field">
    <%= f.text_field :address %>
    </div>
  <%= f.label :address_2 %>
    <div class="field">
    <%= f.text_field :address_2 %>
    </div>
  <%= f.label :city %>
    <div class="field">
    <%= f.text_field :city %>
    </div>
  <%= f.label :state %>
    <div class="field">
    <%= f.collection_select :state, ::States.values, :to_s, :to_s, include_blank: false %>
    </div>
  <%= f.label :zipcode %>
    <div class="field">
    <%= f.text_field :zipcode %>
    </div>

  <div class="break"><h4>- Login Info -</h4></div>

  <%= f.label :email %>
    <div class="field">
    <%= f.text_field :email %>
    </div>
  <%= f.label :password %>
    <div class="field">
    <%= f.password_field :password %>
    </div>
  <%= f.label :password_confirmation, "Confirm Password" %>
    <div class="field">
    <%= f.password_field :password_confirmation %>
    </div>
  <div class="actions"><%= f.submit %></div>
<% end %>