<!DOCTYPE html>
<html>
  <head>
    <title>Sessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  </head>

  <body>

  <nav>
    <div class='log-btn'>
      <% unless current_student || current_teacher %>
      <%= link_to 'LOG IN', login_path %>
      <% else %>
        <% if current_student %>
        Welcome, <%= current_student.name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'LOG OUT', destroy_student_session_path(current_student), method: :delete %>
        <% end %>
        <% if current_teacher %>
        Welcome, <%= current_teacher.name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'LOG OUT', destroy_teacher_session_path(current_teacher), method: :delete %>
        <% end %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'MY PROFILE', profile_path %>
      <% end %>
    </div>
  </nav>

  <h1><a href='/'><span style="color: #94d1e0;; font-size: 70px;">&#119070;</span>essions</a></h1>

  <nav class='nav-all'>

    <% if current_student || current_teacher %>
      <%= link_to 'INSTRUMENTS', students_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'MY APPOINTMENTS', appointments_path %>
      <% if current_teacher %>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'SCHEDULE LESSONS', lessons_path %> 
      <% end %>
    <% end %>
  </nav>
  
  <%= yield %>

  </body>
</html>
