<!DOCTYPE html>
<html>
  <head>
    <title>Sessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
  </head>

  <body>

  <header><%= image_tag("banner.jpg", :alt => "banner")%></header>

  <h1>Sessions</h1>

    <nav>
      <ul>
        <li class='nav-all'>
          <% if current_student %>
          Welcome, <%= current_student.name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'LOG OUT', session_path(current_student), method: :delete %>
          <% else %>
          <%= link_to 'LOG IN', login_path %>
          <% end %>  
        </li>
      </ul>
    </nav>

    <hr>

    <%= yield %>
  </body>
</html>
